<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/flexslider.css">
  <link rel="stylesheet" href="/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>

</head>
<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
  <section class="site-section" id="section-portfolio">
    <div class="container">

      <img src="images/user.png" style="width:4%; cursor:pointer" class="rounded float-right" alt="user">
      <!--<span class="glyphicon glyphicon-user pull-right" font-size="25px"></span>-->
      <div class="row">
        <div class="text-left">
          <img src="images/favicon.png" style="width:17%; cursor:pointer" class="rounded float-left" alt="user">
        </div>
        <div class="text-center col-md-12">
          <h2><strong>Find someone alike...</strong></h2>
        </div>
      </div>
      <div class="filters">
        <ul>
          <li class="active" data-filter="*">All</li>
          <li data-filter=".sports">Sports</li>
          <li data-filter=".movies">Movies</li>
          <li data-filter=".shopping">Shopping</li>
          <li data-filter=".events">Events</li>
          <li data-filter=".fun">Fun</li>
          <li data-filter=".travel">Travel</li>
        </ul>
      </div>

      <div class="filters-content">
        <div class="row grid">
          <div class="single-portfolio col-sm-4 all shopping">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/street shopping.png" alt="" >
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Street Shopping</h4>
              <div class="cat">Shopping</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all sports">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/badminton.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Badminton</h4>
              <div class="cat">Sports</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all sports">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/basketball.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Basketball</h4>
              <div class="cat">Sports</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all sports">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/cardio.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Cardio</h4>
              <div class="cat">Sports</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all sports">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/mma.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>MMA</h4>
              <div class="cat">Sports</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all movies">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/once upon a time.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Once Upon A Time</h4>
              <div class="cat">Movies In Theatre</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all movies">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/lion king.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Lion Ling</h4>
              <div class="cat">Movies In Theatre</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all movies">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/it.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>IT 2</h4>
              <div class="cat">Movies In Theatre</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all fun">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/axe Throwing.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Axe Throwing</h4>
              <div class="cat">Fun</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all fun">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/partying.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Partying</h4>
              <div class="cat">Fun</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all fun">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/ice skating.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Ice Skating</h4>
              <div class="cat">Fun</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all fun">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/pool.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Pool</h4>
              <div class="cat">Fun</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all fun">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/rock climbing.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Rock Climbing</h4>
              <div class="cat">Fun</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all fun">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/trampoline.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Trampoline Park</h4>
              <div class="cat">Fun</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all events">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/concert.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Concerts</h4>
              <div class="cat">Events</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all events">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/hacking.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Hackathons</h4>
              <div class="cat">Events</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all events">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/theatre.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Theatre</h4>
              <div class="cat">Events</div>
            </div>
          </div>
          <div class="single-portfolio col-sm-4 all travel">
            <div class="relative">
              <div class="thumb">
                <div class="overlay overlay-bg"></div>
                <a data-toggle="modal" data-target="#modalTime">
                  <img class="image img-fluid" style="cursor:pointer" src="images/road trip.png" alt="">
                </a>
              </div>
            </div>
            <div class="p-inner">
              <h4>Road Tripping</h4>
              <div class="cat">Travel</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Modal: Login with Avatar Form-->
  <div class="modal fade" id="modalTime" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Body-->
      <div class="modal-body text-center mb-1">

        <h5 class="mt-1 mb-2">When do you wanna go?</h5>
        <div class="text-center mt-4">
          <form method="post" name="timings">
          <button class="btn btn-cyan btn-block mt-1" type="submit" name="time" value="today">Today<i class="fas fa-sign-in ml-1"></i></button>
          <button class="btn btn-cyan btn-block mt-1">Tomorrow<i class="fas fa-sign-in ml-1"></i></button>
          <button class="btn btn-cyan btn-block mt-1">This weekend<i class="fas fa-sign-in ml-1"></i></button>
          <button class="btn btn-cyan btn-block mt-1" type="submit" name="time" value="today">I'm not in a hurry<i class="fas fa-sign-in ml-1"></i></button>
          </form>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->

<style>
.glyphicon {
    font-size: 35px;
}

</style>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/popper.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/vendor/jquery.easing.1.3.js"></script>
<script src="js/vendor/jquery.stellar.min.js"></script>
<script src="js/vendor/jquery.waypoints.min.js"></script>

<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="/js/custom.js"></script>

</body>
</html>
